.catalogue {
  &-item {
    border-bottom: 1px solid $grey-2;
    color: $default-color;
    display: block;
    padding: 2.5rem 0;
    text-decoration: none;

    &:hover .catalogue-line,
    &:focus .catalogue-line {
      width: 5rem;
    }

    &:last-child {
      border: 0;
    }
  }

  &-pinned,
  &-time {
    color: $default-tint;
    font-family: $sans-serif;
    font-size: 0.85rem;
    letter-spacing: 0;
    font-weight: 400;
  }

  &-title {
    color: $default-color;
    display: block;
    font-family: $sans-serif;
    font-size: 1.6rem;
    font-weight: 700;
    margin: .75rem 0 .5rem;
    line-height: 1.3;
    letter-spacing: -0.02em;
  }
  
  &-excerpt {
    color: $default-shade;
    font-family: $serif-primary;
    font-size: 1rem;
    line-height: 1.5;
    margin-top: 0.5rem;
  }

  &-line {
    @include transition(all .3s ease-out);
    border-top: .15rem solid $default-color;
    display: block;
    width: 3rem;
    margin-top: 1rem;
  }
}
