.container {
  margin: 0 auto;
  max-width: 850px;  // Even wider
  width: 90%;
  
  @media (min-width: 600px) {
    width: 90%;  // Use 90% on tablets
  }
  
  @media (min-width: 1000px) {
    width: 80%;  // Large desktops
  }
}

main,
footer,
.nav-container {
  display: block;
  margin: 0 auto;
  max-width: 850px;
  width: 90%;
  
  @media (min-width: 600px) {
    width: 90%;
  }
  
  @media (min-width: 1000px) {
    width: 80%;
  }
}

.nav {
  border-bottom: 1px solid $grey-2;  // Subtle border
  overflow: auto;
  padding: 1.5rem 0;
}

.nav-container {
  margin: 0 auto;
  position: relative;
  text-align: center;
}

.nav-title {
  @include transition(all .2s ease-out);
  color: $default-color;
  display: inline-block;
  margin: 0;
  padding-right: .2rem;
  font-family: $sans-serif;
  font-weight: 700;
  font-size: 1.1rem;
  letter-spacing: -0.01em;

  &:hover,
  &:focus {
    opacity: .6;
    text-decoration: none;
  }
}

.nav {
  ul {
    list-style-type: none;
    margin: 1rem 0 0;
    padding: 0;
    text-align: center;
  }

  li {
    @include transition(all .2s ease-out);
    color: $default-tint;
    display: inline-block;
    opacity: 1;
    padding: 0 1.5rem 0 0;
    font-size: 0.9rem;

    &:last-child {
      padding-right: 0;
    }

    &:hover,
    &:focus {
      color: $default-color;
    }
  }

  a {
    color: $default-tint;
    font-family: $sans-serif;
    text-decoration: none;
    
    &:hover {
      color: $default-color;
    }
  }
}

@media (min-width: 600px) {
  .nav-container {
    text-align: left;
  }

  .nav ul {
    bottom: 0;
    position: absolute;
    right: 0;
  }
}

footer {
  font-family: $sans-serif;
  padding: 3rem 0;
  text-align: center;
  border-top: 1px solid $grey-2;

  span {
    color: $default-tint;
    font-size: .85rem;
  }
}
