.pagination {
  border-top: 1px solid $grey-2;
  font-family: $sans-serif;
  padding-top: 3rem;  // Increased from 2.5rem
  padding-bottom: 2rem;  // Add bottom padding too
  position: relative;
  text-align: center;
  
  span {
    color: $default-color;
    font-size: 1rem;
  }

  .top {
    @include transition(all .3s ease-out);
    color: $default-tint;
    font-family: $sans-serif;
    font-size: 1rem;
    opacity: 1;
    text-decoration: none;

    &:hover {
      color: $default-color;
    }
  }

  .arrow {
    @include transition(all .3s ease-out);
    color: $default-color;
    position: absolute;
    text-decoration: none;

    &:hover,
    &:focus {
      opacity: .6;
    }
  }

  .left {
    left: 0;
  }

  .right {
    right: 0;
  }
}
